.custom-spinner {
  height: 32px;
  left: 50%;
  position: relative;
  top: 50%;
  width: 32px;
}

.custom-spinner-bar {
  -moz-animation: custom-spinner-spin 1.2s linear infinite;
  -webkit-animation: custom-spinner-spin 1.2s linear infinite;
  animation: custom-spinner-spin 1.2s linear infinite;
  background-color: #444;
  border-radius: 5px;
  height: 7.8%;
  left: -10%;
  position: absolute;
  top: -3.9%;
  width: 20%;
}

@keyframes custom-spinner-spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes custom-spinner-spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes custom-spinner-spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
